In [1]:
# Add dependencies
import glob
import pandas as pd

Why use glob?
1. Allows to read a list of .csv files and returns a list(str)
2. Allows pd.read_csv(f) returns Pandas DataFrame
3. pd.concat() returns one Pandas DataFrame

In [2]:
# Read in files for 2019
data19 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/2019/*.csv')], ignore_index = True)
data19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [3]:
data19.count()

tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64

In [4]:
# Read in files for 2020
data20 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/2020/*.csv')], ignore_index = True)
data20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [5]:
data20.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [6]:
# Read in files for 2021
data21 = pd.concat([pd.read_csv(f) for f in glob.glob('Data/2021/*.csv')], ignore_index = True)
data21.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [7]:
data21.count()

tripduration               56510
starttime                  56510
stoptime                   56510
start station id           56510
start station name         56510
start station latitude     56510
start station longitude    56510
end station id             56510
end station name           56510
end station latitude       56510
end station longitude      56510
bikeid                     56510
usertype                   56510
birth year                 56510
gender                     56510
dtype: int64

In [8]:
# Export each back to Data File as a complete csv
data19.to_csv("TableauData/data19.csv")
data20.to_csv("TableauData/data20.csv")
data21.to_csv("TableauData/data21.csv")